@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');


body{
	margin: 0px;
}
#div1{
	float: left;
	background-color: #683055;
	width: 50%;
	height: 100%;
	animation: fadeInLeft;
	animation-duration: 2s;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#div2{
	float: right;
	background-color: #F08080;
	width: 50%;
	height: 100%;
	animation: fadeInRight;
	animation-duration: 2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#container2{
	background-color: 	rgb(255,215,0);
	width: 60%;
	height: 80%;
	align-self: center;
	top: 10%;
	box-shadow: 6px 6px 1px #AEB3B1;
  	left: 20%;
	animation: zoomIn;
	animation-duration: 3s;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
#container1{
	width: 100%;
	height: 100%;
}
#head2{
	font-family: 'Kaushan Script', cursive;
	font-size: 60px;
	animation: zoomIn;
	animation-duration: 4s;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
#container2,#container1{
	position: absolute;
}

#sep1{
float: left;
height: 5px;
background-color: #000;
width: 25%;
margin-left: 10px;
margin-top: 35px;
animation: fadeInLeft;
animation-duration: 2s;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


#sep2{
float: right;
height: 5px;
background-color: #000;
width: 25%;
margin-right: 10px;
margin-top: 35px;
animation: fadeInRight;
animation-duration: 2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#head1{
	width: 45%;
	text-align: center;
	float: left;
}
#head3{
	width: 100%;
	margin-top: 20px;
	float: right;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 40px;
}
#head4{
	width: 100%;
	float: right;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 160px;
	text-shadow: 6px 6px 15px #AEB3B1;
	animation: pulse ease;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

